.header {
  background-color: yellow;
  padding: 15px;
  margin-right: 0%;

  text-align: center;
}

.header-text {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.whatsapp-number {
  color: green;
}
